/*General styles - start*/

* {
    font-family: "Lato", sans-serif;
    color: #291f1a;
    font-weight: 300;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*General styles - end*/



/*Navigation - start*/

#main-nav {
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
}

#main-nav ul {
    float: right;
}

#main-nav li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

#main-nav a {
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
    color: #1ac056;
}

#main-nav a:hover {
    color: #291f1a;
}

/*Navigation - end*/

/*Main header - start*/

#main-header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Roboto", sans-serif;
}

.main-header-content {
    padding: 30vh;
}

/*Main header - end*/

/*Section About - start*/

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}

#about {
    background-color: #f9fcfe;
    padding: 0px 80px 100px 0px;
    width: 100%;
}


#about img {
    max-width: 350px;
}

#about figure {
        margin: 0;
}


#about figure,
article {
    float: left;
    width: 50%;
}

#about img {
    border: 15px hidden;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

/*Section about - end*/

